@import 'fonts';

#app {
    font-family: "Josefin", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #CED5D8;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 200vh;
}